.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
}

.header-logo {
    margin: 10px;
}

.header-inpu-search {
    width: 450px;
    height: 45px;
    margin: 10px;
}

.nav-list {
    display: flex;
}

.button {
    margin-right: 30px;
    padding: 5px 25px;
    background: black;
    color: white;
}

.header {
    text-decoration: none;
    margin-right: 30px;
    color: white;
}

.button-sell {
    text-decoration: none;
    margin-right: 30px;
    padding: 5px 25px;
    color: black;
    background: white;
}