.form-category {
    display: flex;
    border-bottom: 1px solid darkgray;
}

label input {
	appearance: none;
    margin-bottom: 50px;
}

label span {
	font-size: 20px;
    font-weight: bold;
	padding: 5px 20px;
}

label input:checked + span {
	color: orangered;
    font-weight: bold;
}

.form-img {
    width: 200px;
    height: 200px;
    background: #ddd;
}

.name {
    font-size: 20px;
}