.profile {
    display: flex;
    margin: 0 auto;
    width: 70%;
}

.profile-div {
    display: flex;
    width: 50%;
}

.profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #ddd;
}

.profile-a {
    text-decoration: none;
    border: 1px solid orangered;
    color: orangered;
    border-radius: 3px;
    font-size: 15px;
    padding: 5px 10px;
}