.content {
    width: 40%;
    align-items: center;
    margin: 0 auto;
}

.title-h {
    text-align: center;
    margin: 30px 0;
}

.form-img {
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.img-picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #ddd;
}

.img-input-file {
    padding: 5px 10px;
    margin-left: 20px;
    background: white;
    color: orangered;
    border: 1px solid orangered;
}

.form-content {
    margin-bottom: 25px;
}

.form-span {
    font-weight: bold;
}

.form-input-text {
    width: 100%;
    height: 40px;
}

.form-button-submit {
    width: 100%;
    margin-top: 40px;
    font-size: 17px;
    padding: 10px 0;
    color: white;
    border: none;
    border-radius: 3px;
    background: orangered;
    cursor: pointer;
}