.form {
    width: 60%;
    margin: 0 auto;
}

.title {
    width: 100%;
}

.title-logo {
    text-align: center;
    margin: 30px 0;
}

.content {
    width: 100%;
}

.content-h {
    margin-top: 30px;
}

.title-h {
    color: darkgray;
    border-bottom: 1px solid darkgray;
}

label {
	margin-right: 5px;
}

label input {
	appearance: none;
    margin-bottom: 50px;
}

label span {
	color: orangered;
	font-size: 14px;
	border: 1px solid orangered;
	border-radius: 20px;
	padding: 5px 20px;
}

label input:checked + span {
	color: #FFF;
	background: orangered;
	border: 1px solid orangered;
}

.content-condition {
    width: 100%;
    height: 40px;
}

.content-text {
    width: 100%;
    height: 35px;
}

.content-textarea {
    width: 100%;
    height: 150px;
}

.button-submit {
    width: 100%;
    margin-top: 50px;
    font-size: 17px;
    padding: 10px 0;
    color: white;
    border: none;
    border-radius: 3px;
    background: orangered;
    cursor: pointer;
}