.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.profile-div {
    display: flex;
    width: 50%;
    align-items: center;
}

.profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #ddd;
}

.profile-h {
    margin-left: 50px;
}

.profile-a {
    text-decoration: none;
    border: 1px solid orangered;
    color: orangered;
    border-radius: 3px;
    height: 45px;
    font-size: 20px;
    padding: 5px 10px;
}